.order {
  flex-basis: 35%;
  border: 1px solid #000;
  border-radius: 10px;
}

.order-item {
  margin: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-quantity {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-between;
}

.order-btn {
  color: white;
  background-color: #00BB34;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.order-btn:hover {
  border: 1px solid #014614;
}

.order-btn:active {
  box-shadow: 2px 2px 5px 0 #014614;
}