.item-card {
  width: 234px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 11px;
  cursor: pointer;
}

.card-img {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.item-name {
  font-weight: bold;
}